{
  "parserOptions": { "ecmaVersion": 6 },
  "extends": ["airbnb", "plugin:react/recommended", "eslint:recommended"],
  "plugins": ["react"],
  "rules": {
    "indent": ["error", 4],
    "linebreak-style": ["error", "unix"],
    "quotes": ["error", "double"],
    "semi": ["error", "always"],

    "comma-dangle": ["error", "always"],
    "no-cond-assign": ["error", "always"],

    "no-console": "off",
  }
}